@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
@import url('./button.css');

:root {
  /* ------------------color------------------ */
  --dark-color: #082032;
  --gray-color: #2c394b;
  --light-gray-color: #334756;
  --orange-color: #ff4c29;

  /* ------------------transition------------------ */
  --time: 0.3s;

  /* ------------------width and height------------------ */
  --header-height: 110px;
  --sidebar-width: 240px;
  --content-width: calc(100% - var(--sidebar-width));

  --height-full: 100vh;

  /* ------------------border------------------ */
  --border-thin: 1px;
  --border-regular: 2px;
  --border-bold: 4px;
  --border-bold-negative: -4px;

  /* ------------------margin and padding------------------ */
  --padding-small: 10px;
  --padding-regular: 15px;
}

html {
  cursor: url(../images/cursor.png), auto;
  font-family: "Press Start 2P", cursive;
}

body {
  margin: 0;
  /* font-size: 62.5%; */
}

* {
  box-sizing: border-box;
  transition: var(--time);
}

a,
button {
  cursor: url(../images/hover.png), auto;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

/* ----------------------------------------header---------------------------------------- */
.header {
  width: 100%;
  height: var(--header-height);
  display: flex;
  position: fixed;
  z-index: 10;
}

/* ---------------header logo--------------- */
.header-logo {
  width: var(--sidebar-width);
  padding: var(--padding-regular);
  background: var(--dark-color);
  border-bottom: var(--border-regular) solid var(--light-gray-color);
}

.header-logo img {
  width: 100%;
}

/* ---------------header content--------------- */
.header-content {
  width: var(--content-width);
  background: var(--gray-color);
  color: whitesmoke;
  padding: var(--padding-regular);
  display: flex;
  align-items: center;
  border-bottom: var(--border-regular) solid var(--light-gray-color);
}

.header-content #toggle_sidebar {
  display: none;
}

.header-content i {
  color: var(--orange-color);
  padding-right: var(--padding-regular);
}

/* ----------------------------------------main---------------------------------------- */
.main {
  display: flex;
}

/* ----------------------------------------side bar---------------------------------------- */
.sidebar {
  width: var(--sidebar-width);
  height: var(--height-full);
  background: var(--dark-color);
  color: whitesmoke;
  padding-top: var(--header-height);
  position: fixed;
  z-index: 5;
}

/* ---------------side bar menu--------------- */
.menu {
  height: 100%;
  position: relative;
}

.menu-item {
  min-height: 50px;
  padding: var(--padding-regular);
  border-bottom: var(--border-thin) solid var(--gray-color);
}

.menu-item:hover {
  background: var(--light-gray-color);
}

#collapse_sidebar {
  position: absolute;
  bottom: 0;
  width: 100%;
  border-top: var(--border-thin) solid var(--gray-color);
}

/* ----------------------------------------main content---------------------------------------- */
.main-content {
  padding-top: var(--header-height);
  padding-left: var(--sidebar-width);
}

/* ---------------search--------------- */
.search {
  padding: var(--padding-regular);
}

.search p {
  display: flex;
  align-items: center;
  margin-left: var(--padding-small);
}

.search p i {
  margin-right: var(--padding-regular);
  color: var(--orange-color);
}

/* ---------------container--------------- */
.container {
  padding: var(--padding-regular);
}

.row {
  display: grid;
  grid-gap: var(--padding-regular);
  grid-template-columns: repeat(5, 1fr);
}

.pokemon {
  border: var(--border-regular) solid var(--light-gray-color);
  border-radius: 5px;
  padding: var(--padding-small);
  background: var(--gray-color);
  display: flex;
  flex-direction: column;
}

.pokemon:hover {
  cursor: url(../images/hover.png), auto;
}

.pokemon img {
  width: 100%;
}

.pokemon p {
  margin: 0;
  padding: var(--padding-small) 0;
  text-align: center;
  text-transform: capitalize;
  background: whitesmoke;
  border-top: var(--border-thin) solid var(--light-gray-color);
  flex-grow: 1;
}

/* ---------------pagination--------------- */
.pagination {
  display: flex;
  justify-content: center;
}

/* ----------------------------------------media query---------------------------------------- */
/* ---------------768--------------- */
@media screen and (max-width: 768px) {
  :root {
    /* ------------------width and height------------------ */
    --header-height: 80px;
    --sidebar-width: 200px;
    --content-width: calc(100% - var(--sidebar-width));

    --height-full: 100vh;
  }
}

/* ---------------425--------------- */
@media screen and (max-width: 425px) {
  :root {
    /* ------------------width and height------------------ */
    --header-height: 80px;
    --sidebar-width: 200px;
    --content-width: calc(100% - var(--sidebar-width));

    --height-full: 100vh;
  }

  html {
    font-size: 12px;
  }

  /* ---------------header logo--------------- */
  .header-logo {
    display: none;
  }

  /* ---------------header content--------------- */
  .header-content {
    width: 100%;
  }

  .header-content #toggle_sidebar {
    display: block;
  }

  /* ----------------------------------------side bar---------------------------------------- */
  .sidebar {
    left: -100%;
  }

  /* ----------------------------------------main content---------------------------------------- */
  .main-content {
    padding-top: var(--header-height);
    padding-left: 0;
  }
}